@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --rosa-bg: #FDFAE9;         /* crema base */
  --rosa-bg-soft: #FFFDF5;    /* crema muy suave */
  --rosa-green: #4D6936;      /* verde principal */
  --rosa-green-soft: #5D764A; /* verde secundario */
  --rosa-green-light: #708A59;
  --rosa-gold: #D6CEA9;       /* dorado suave */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background-color: var(--rosa-green);
  color: var(--rosa-bg);
}