@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --rosa-bg: #FDFAE9;
  --rosa-bg-soft: #FFFDF5;
  --rosa-green: #4d6b35;
  --rosa-green-soft: #5D764A;
  --rosa-green-light: #708A59;
  --rosa-gold: #fdd8a3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* === NUEVAS UTILIDADES DE TEXTO === */
.text-rosa-green {
  color: var(--rosa-green);
}

.text-rosa-gold {
  color: var(--rosa-gold);
}

.text-rosa-muted {
  color: #A6A086;
}

.text-rosa-cream {
  color: #EADFC0;
}

.text-rosa-green-muted {
  color: #6B8360;
}

.text-rosa-green-detail {
  color: #7A8F6D;
}

.text-rosa-white {
  color: #ffffff;
}

.text-rosa-gold-soft {
  color: #D6CEA9CC;
}

.text-rosa-gold-subtle {
  color: #D6CEA9B3;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: var(--rosa-green);
  background-image: url("/img/back-texture-seamless-2.png");
  background-size: 25%;     /* ajustá para más/menos textura */
  background-repeat: repeat;  /* textura infinita */
  opacity: 1;
}

.hover\:text-rosa-white:hover {
  color: #ffffff;
}